/* body */
html, body{
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

/* header */
.seame_embed_header {
    position : absolute;
    display : table;
    top : 0;
    left : 0;

	margin: 0;
    padding : 0;

	height: 10%;
	width: 100%;

    z-index: 50;

	background-color: #556c89;

	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.5);
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

.seame_embed_header .logo {

    display: table-cell;
    height: 10%;
    width: 10%;
    max-height: 10%;
}

.seame_embed_header .logo img {
    position: relative;
    width: auto;
    height: 100%;
    max-height: 100px;
}

.seame_embed_header .pseudo{
   display : table-cell;

    height: 100%;
    width : 40%;

	text-align: left;

	text-transform: uppercase;
	color: #77a4bb;

    font-size: 30px;
    white-space: nowrap;

    vertical-align: middle;
}

.seame_embed_header .boutons {
   display : table-cell;

    width : 40%;
    height : 10%;

    margin-top: 1%;
    margin-right : 10%;

    text-align : right;
    vertical-align: middle;
    padding-right: 5%;
}

/* les boutons */
button{

    margin-left : 2%;

    font-size : 2.5vh;

	text-transform: uppercase;

    background-color: transparent;
    color: #77a4bb;
    border : 1px solid #77a4bb;
    border-radius: 2px;

	cursor: pointer;
}

/* carte ol3*/
#seame_embed_map{
    position : absolute;
    top : 10%;
    left : 0;

    box-sizing : border-box;

	margin: 0;
    padding : 0;

	width: 100%;
	height: 75%;

    z-index: 30;
}

/*diaporama*/
.seame_embed_diaporama{
    position: absolute;
    display: block;

    top : 85%;

	margin: 0;

	height: 15%;
	width: 100%;

	background-color: #202020;

	white-space: nowrap; 
	overflow-y: hidden;
	overflow-x: scroll;
}

.seame_embed_diaporama .diaporama_nav{
	display: inline-block;
	position: relative;

	height: 100%;
}

.seame_embed_diaporama .liste_images{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.seame_embed_diaporama .liste_images img {
	position: relative;
	display: inline-block;
	/*width: auto;*/
	width: 120px;
	height: inherit;

	max-height: 100%;
	
	border:1px solid white;
}

.seame_embed_diaporama .diaporama_nav .nom{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,0.8);
	border: 1px solid white;
}

.seame_embed_diaporama .diaporama_nav .nom p{
	display: block;
	position: relative;

	width: 80%;
	height: 80%;

	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;

	white-space: normal;
	overflow: hidden;

	color: white;
	text-align: center;
	text-transform: uppercase;
}

.seame_embed_diaporama .diaporama_nav .nom:hover{
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

/* Bouton de retour aux navigations */
.carte-back-button {
    position: absolute;
    top: 14%;
    right: 5%;
    z-index: 200;
}
.carte-back-button button {
    background-color: rgba(0,0,0,0.5);
}

/* POPUP OL3*/
/* http://openlayers.org/en/latest/examples/popup.html */
.ol-popup {
	position: absolute;

    top : -20px;
    left: 14px;

    padding: 5px;

    background-color: #7b98bc;
    background-color: rgba(123,152,188,0.6);

    box-shadow: 0 1px 4px rgba(0,0,0,0.6);

	border-radius: 2px;

    white-space: nowrap;
}

.ol-popup:after {
    position: absolute;
    top: 12px;
    left:-12px;

    content : " ";

    border: 6px solid transparent;
    border-right-color: rgba(123, 152, 188, 0.6);
}

.ol-popup-closer {
    position: absolute;
    top: -10px;
    right : -10px;

    width : 18px;
    height : 18px;

    border-radius : 100%;
    border: 1px solid #fff;

    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    color: #fff;

    text-align : center;
    text-decoration: none;
    line-height: 18px;
    font-family: "Trebuchet MS", serif;
    font-size : 15px;
}

.popup_titre {
    display : block;
    width: 100%;
    min-width : 100px;

    font-size: 20px;
    color : #777;

    text-align: center;

    background-color: #ccc;
    border-radius : 2px;
}

.popup_button {
    margin: 10px;
    padding: 5px 5px;

    background-color : #556c89;

    border-radius: 2px;

    color: #accff9;

    cursor : pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.popup_image {
    margin-top: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.popup_image img{
	width: 200px;
    border-radius: 2px;
}

/* A PROPOS */
#about {
    position: absolute;
    top: 10%;
    left: 0;
    width : 100%;
    height : 90%;

    background-color: #39495b;
}

#about ul {
    width: 60%;
    height: 50%;
    margin-top : 10%;
    margin-left : auto;
    margin-right : auto;

    color: #fff;

    font-size : 30px;
}

#about li {
    margin-bottom: 20px;
}

#about a {
    color : #fff;
    font-weight: bold;
}

.about-back-button {
    width:40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}